# Reset
/*
/*/

# Include
!/.editorconfig
!/.eslintrc.json
!/.gitattributes
!/.gitignore
!/.prettierignore
!/.npmrc
!/.travis.yml
!/.vscode
!/azure-pipelines.yml
!/README.md
!/packages
!/src
!/test
!/package.json
!/tsconfig.json

# Exclude
.DS_Store
Thumbs.db
