
#-----------------------------------------------------------------------------#
# Ignore everything by default:
#-----------------------------------------------------------------------------#

/*
/*/


#-----------------------------------------------------------------------------#
# But allow those files and folders:
#-----------------------------------------------------------------------------#

!/.editorconfig
!/.eslintrc.json
!/.gitattributes
!/.gitignore
!/.npmrc
!/.travis.yml
!/.vscode
!/README.md
!/packages
!/src
!/test
!/package.json
!/package-lock.json
!/tsconfig.json


#-----------------------------------------------------------------------------#
# But make sure to ignore those regardless:
#-----------------------------------------------------------------------------#

.DS_Store
Thumbs.db
